/*A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
html, body{
    font-size: 100%;
    background-color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
}
/*----start-header----*/
.navbar-inverse {
	background: url(../images/slider-bg.jpg) no-repeat;
	background-size: cover;
	min-height: 200px;
	width: 100%;
	border: none;
	position: relative;
}
.header{
	padding: .2% 0;
}
.logo{
	margin-top:1.5em;
}
/*----start-light-box-info----*/
.light-box-info{
	padding: 5%;
	box-shadow: none;
	border: none;
}
.light-box-info h3{
	margin:0 0 0.5em;
}
.light-box-info p{
	color:#7E7E7E;
	margin-top:2em;
}
/*-----starrt-slider-style-----*/
.slideshow { 
	position: relative;
	margin-top: 1.9em;
}
.slideshow > div { 
	position: absolute; 
	top: 10px; 
	left: 10px; 
	right: 10px; 
	bottom: 10px; 
}
.slideshow h1{
	font-size:1.2em;
	font-weight: 400;
	color: #FFF;
	font-style: normal;
	border: none;
	text-align: center;
   font-family: Arial, Helvetica, sans-serif;
	text-transform: none;
}
.slideshow p{
	color: #FFF;
	font-size: 0.875em;
	padding: 0px 0 1em;
	clear: both;
	text-align: center;
	font-weight:100;
	letter-spacing:1px;
	width:80%;
	margin:0.8em auto;
}
.border {
	text-align: center;
	margin: 0 auto;
	border-bottom: 1.8px solid #FFF;
	width: 40%;
	display: block;
}

/*----navbar-nav----*/
.navbar-inverse .navbar-nav>li>a {
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	font-size: 22px;
	font-weight:500;
	text-decoration: none;
 	text-transform: uppercase;
	margin-top:0.5em;
	color:#fff;
	display:inline-block;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	color: #FFF;
	background:none;
	text-decoration: underline;
}
.navbar-toggle {
	position: relative;
	float: right;
	margin-right: 15px;
	padding: 9px 10px;
	margin-top: 8px;
	margin-bottom: 8px;
	background: none;
	background-img: none;
	border:none;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background:none;
}
.navbar-toggle .icon-bar {
	display:none;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border:none;
}
h2 {
	font-size:18px;
	color: #E54433;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	padding-top: 0em;
	margin: 0;
}
.content-top p {
	font-size: 14px;
	color: #7E7E7E;
	font-weight: 400;
	text-decoration: none;
	padding-top: 0.5em;
	line-height: 1.8em;
	margin: 0 auto;
	padding-bottom: 0.5em;
}
div.grid {
	padding: 0.8em 0;
}
.grid p {
	font-size: 15px;
	color: #7E7E7E;
	font-weight: 400;
	text-decoration: none;
	line-height: 1.8em;
	margin: 0 auto;
	width: 100%;
}
.go_btn{
	position: absolute;
	bottom: -3px;
	left: 31%;
}
.button {
	padding: 0.3em 0.8em;
	outline: none;
	font-weight: 500;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.875em;
	color: #FFF;
	background: #E74C3C;
	text-decoration: none;
	border: 6px solid rgba(241, 150, 140, 0.51);
	text-transform: uppercase;
}
.button:hover {
	background:#DD200D;
	text-decoration:none;
	color:#fff;
}
h3{
	font-size: 14px;
	color: #E74C3C;
	font-weight: 700;
	text-decoration: none;
}
.slider {
	position: relative;
}
.demo-3{
	border-top: 1px solid #E0DEDE;
	border-bottom: 1px solid #E0DEDE;
	padding-bottom:5%;
}
.img1{
	width:100%;
}
.search-icon{
	position: absolute;
	top: 11%;
	right: 10%;
}
.search-icon{
	width: 50px;
	height: 50px;
	display: inline-block;
	background: url(../images/s-icon.png) no-repeat 0px 0px;
	cursor: pointer;
}
.cs-style-3{
	position:relative;
}
.view{
	margin:0 auto;
	text-align:center;
}
.view-btn {
	padding: 0.8em 2em;
	outline: none;
	font-weight: 500;
	font-family: Arial, Helvetica, sans-serif;
	font-size:0.875em;
	color: #FFF;
	background: #E74C3C;
	text-decoration: none;
	text-transform: uppercase;
}
.view-btn span{
	width: 30px;
	height: 30px;
	display: inline-block;
	background: url(../images/arrow.png) no-repeat 4px 3px;
	margin-left: 0.5em;
	vertical-align: middle;
	margin-left: 0.5em;
	text-decoration: :none;
}
.view-btn:hover span{
	background:url(../images/arrowh.png) no-repeat 4px 3px;
	text-decoration: :none;
}
.view-btn:hover,.con-button a:hover { 
	background:none;
	border:2px solid #E74C3C;
	color:#E74C3C;
	text-decoration:none;
}
/*--contact--*/
.contact{
	padding: 1em 0 2em;
}
.contact-form{
	margin: 0 auto;
	padding: 1em 0;
}
.text-box input[type="text"]{
	border: 1px solid #eee;
	width: 90%;
	padding: 0.6em;
	margin-bottom: 0.8em;
	color: #C0BFBF;
	outline: none;
	font-weight: 500;
	background: #EEE;
	font-size: 0.875em;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-appearance: none;
}
.textarea textarea{
	border: 1px solid #EEE;
	width: 87%;
	padding: 0.8em;
	margin-bottom: 1.5em;
	color: #C0BFBF;
     font-family: Arial, Helvetica, sans-serif;
	outline: none;
	font-weight: 500;
	background: #EEE;
	font-size: 0.875em;
	-webkit-appearance:none;
}
.text-box input[type="text"]:hover,.textarea textarea:hover,.text-box input[type="text"]:focus,.textarea textarea:focus{
	border-color: rgba(231, 76, 60, 0.55);
}
.textarea textarea{
	height: 110px;
	resize: none;
	-webkit-appearance:none;
}
h5{
	color: #E74C3C;
	font-size: 1.2em;
	font-weight: 700;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
.con-button {
	padding: 0.6em 0em;
	background: #E74C3C;
	color: #FFF;
	width: 100%;
	border: none;
	font-size: 0.9em;
	outline: none;
	margin: 0 auto;
	display: block;
	cursor: pointer;
}
.con-button:hover{
	background:#B13C30;
}
.con-button a {
	padding: 0.9em 6em;
	font-size: 1.3em;
	background: #E74C3C;
	color: #FFF;
	 font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
}
.con-button a:hover { 
	background: #fff;
}
.footer{
	background:#E74C3C;
	padding:2% 0;
}
.social-icons{
	position: relative;
}
.copy-right{
	text-align:center;
}

.copy-right  p{
	color: #fff;
	font-size: 0.875em;
	text-align: center;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 500;
	line-height: 1.5em;
}
.copy-right p a{
	color:#581503;
}
.copy-right a:hover{
	color:#fff;
	text-decoration: none;
}
/**********/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom:10px;
	right: 10px;
	overflow: hidden;
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow_up.png) no-repeat center;
}
/*----start-drop-down---*/
nav {
  position: relative;
}
.dropdown-toggle {
  padding: .5em 1em;
  background: #777;
}
ul.dropdown {
  display:none;
  position: absolute;
  top: 100%;
  margin-top: .5em;
  background: #777;
  min-width: 12em;
  padding: 0;
 }
.dropdown ul li a{
        text-decoration: none;
        padding: .5em 1em;
        display: block;
   }
/*-----grid-system---*/
.container{
	width:90%;
	margin:0 auto;
}
.text-center{
	text-align:center;
}
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8  {
	width: 100%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	float: none;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-left:0px;
	padding-right:0px;
}
.col-xs-4 {
	width: 33.33333333%;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	float: left;
}
/*-- start-smartphone_nav --*/
.nav {
    display:block;
}
.nav-item {
    float:left;
    *display:inline;
    zoom:1;
}
.nav-item a {
    display:block;
}
.nav-item a:hover {
	background: #3D3D3D;
	color: #FFFFFF;
}
.nav-mobile {
	display: none;
	cursor: pointer;
	position: absolute;
	top: -40px;
	right: 5px;
	background: url(../images/nav_icon.png) 89% 105% no-repeat;
	height: 32px;
	width: 32px;
}
.nav-mobile {
    display:block;
}
.nav {
   width:100%;
}
.nav-list {
    display:none;
}
.nav-item {
    width:100%;
    float:none;
}
.nav-item a {
	font-family: 'Open Sans', 'sans-serif';
	font-weight:400;
	background: #313338;
	padding: 10px;
	text-transform:uppercase;	
    color:#FFF;
	font-size: 0.8725em;
}
.nav-inner {
   display: none;
}
.nav-active, .nav-active-inner .nav-inner {
     display:block;
}
.nav-list{
	margin: 0px -15px;
	text-align: center;
	background: rgba(219, 28, 8, 0.22);
	padding:0.5em 0;
}
.nav-list li a{
	color: #FFF;
	text-transform: uppercase;
	display: block;
	padding: 0.3em 0;
}
.nav-list li a:hover{
	text-decoration:underline;	
}
.navicon {
	display: block;
	width: 27px;
	height: 25px;
	position: absolute;
	top: 18px;
	right: 10px;
	background: url(../images/nav_icon.png) no-repeat;
}
/*----navgation-links----*/
.navgation-links li{
	display:block;
}
.navgation-links li a{
	color: #FFF;
	background: #8F140C;
	display: block;
	font-size: 0.875em;
	padding: 0.4em 0.8em;
	border-bottom: 1px solid rgba(153, 153, 153, 0.15);
}